<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @conversation.user_one_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @conversation.user_two_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @conversation.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @conversation.status %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
