<h1>Listing mural_posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mural_posts.each do |mural_post| %>
      <tr>
        <td><%= mural_post.user %></td>
        <td><%= mural_post.latitude %></td>
        <td><%= mural_post.longitude %></td>
        <td><%= mural_post.message %></td>
        <td><%= link_to 'Show', mural_post %></td>
        <td><%= link_to 'Edit', edit_mural_post_path(mural_post) %></td>
        <td><%= link_to 'Destroy', mural_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mural post', new_mural_post_path %>
