<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mural_post.user %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @mural_post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @mural_post.longitude %>
</p>

<p>
  <strong>Message:</strong>
  <%= @mural_post.message %>
</p>

<%= link_to 'Edit', edit_mural_post_path(@mural_post) %> |
<%= link_to 'Back', mural_posts_path %>
